body {
    background-color: #21348a;
    font-size: 7.0vmin;;
}

.dice {
    width: 2em;
    height: 2em;
    background: rgb(240, 240, 240);
    background: linear-gradient(45deg, rgba(240, 240, 240, 1) 40%, rgba(219, 219, 219, 1) 100%);
    border-radius: .2em;
    /* -webkit-box-shadow: 5px 5px 15px 5px #666;
    box-shadow: 5px 5px 15px 5px #666; */
}

.inner {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter {
    color: crimson;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    user-select: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2em;
    width: min-content;
    margin: 0 auto;
    background: #FFDC00;
    background: radial-gradient(circle, rgba(210, 182, 0, 1) 50%, rgba(255, 220, 0, 1) 100%);
    border: .1em solid #D2B600;
    border-radius: .2em;
    padding: .5em;
    cursor: grab;
    box-shadow: 0 .2em .6em #222;
}

@keyframes timer_animation {  
      from { width: 0%; }  
      to { width: 100%; }   
  } 

.timer-container {
    width: 100%;
    height: auto;
    border-radius: .2em;
    background-color: rgba(76,211,64, .2);
}

.timer {
    height: .25em;
    margin-top: .5em;
    background: rgba(76,211,64, 1.0);
    border-radius: .2em;
}

.timer[start='1'] {
    animation-name: timer_animation;
    animation-duration: 180.0s;
    animation-timing-function: linear; 
}